{{!< main}}
<div class="p-4">
  <h2>Yue</h2>

  <p>Yue is a chatbot engine for Messenger, powered by Node.js and integrated with various APIs for enhanced functionality.</p>

  <img src="https://img.shields.io/github/v/release/ruingl/Yue" alt="GitHub release (latest by date)">
  <img src="https://img.shields.io/github/downloads/ruingl/Yue/total" alt="GitHub total downloads">

  <h3>Features:</h3>
  <ul>
    <li>Command System: Easily create, manage, and execute commands with a flexible system.</li>
    <li>API Integration: Utilizes APIs for AI, messaging, and more to enhance its capabilities.</li>
    <!-- Add more features as needed -->
  </ul>

  <h3>Getting Started:</h3>
  <ol>
    <li>Clone the repository: <code>git clone https://github.com/ruingl/Yue.git</code></li>
    <li>Change directory to Yue: <code>cd Yue</code></li>
    <li>Set up your configurations in <code>config.json</code>.</li>
    <li>Run the bot: <code>npm run start</code></li>
  </ol>

  <h3>Documentation:</h3>
  <p>You can visit the documentation <a href="/docs">here.</a></p>

  <h3>Credits:</h3>
  <p>This project utilizes the following APIs:</p>
  <ul>
    <li><a href="https://github.com/VangBanLaNhat/fca-unofficial">fca-unofficial</a> - Facebook Chatting API for Facebook Messenger.</li>
    <li><a href="https://github.com/Bes-js/herc.ai">herc.ai</a> - GPT3 API for AI commands.</li>
  </ul>

  <h3>License:</h3>
  <p>This project is licensed under the Rui Custom License - see the <a href="LICENSE.md">LICENSE.md</a> file for details.</p>
</div>